body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.nav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 80px; 
    height: 80px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 37px; 
}


.delivery {
    display: flex;
    align-items: center;
}

.deliver_to {
    font-size: 18px;
   color: rgba(66, 66, 66, 1);
}

.map {
    display: flex;

    padding: 3.5px 9px 3.5px 12px; 
}

.map img {
    width: 14px;
}

.address {
    font-size: 18px;
    color: rgba(66, 66, 66, 1);
}

.search_login {
    display: flex;
    align-items: center;
  
}

.search {
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
    font-size:18px;
    font-weight: 700;
    color: rgba(66, 66, 66, 1);
    margin-right:30px;
}

.login {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    background-color: white;
    color: rgba(255, 184, 0, 1);
    font-weight: 700;

    box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29);

}

.search_icon {
    width: 18px;
    height: 18px;
    margin-right: 8px; 
}

.user_logo {
    width: 16px;
    height: 18px;
    margin-right: 10px;
}

.search_text, .login_text {
    font-size: 18px;
    display: flex;
    align-items: center;
}