body{
    margin:0;
    padding:0;
}

.wrapper{
  margin:0;
}

/* --------------------------------------------------------------------------------------------------- NAV CSS */

nav{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 1% 3%; 
    height:3vh;
}

.nav-logo{
    display: flex;
    align-items: center;
}

.nav-logo img{
    height: 3vh; 
}


.nav-deliver {
    display: flex;
    align-items: center;
    padding:0.5em;
    color: rgba(66, 66, 66, 1);
}



.nav-map {
    display: flex;
    padding:0.5em;
}

.nav-map img {
    width: 1vw;
}


.address{
    display: flex;
    font-size: 0.8em;
    color: rgba(66, 66, 66, 1);
    justify-content: center;
    align-items: center;
}

.search_login{
    display:flex;
    align-items:center;
  
}

.search {
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
    color: rgba(66, 66, 66, 1);
}

.login {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 0.5em  1em;
    border: none;
    background-color: white;
    color: rgba(255, 184, 0, 1);
    box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29);

}

nav .search_icon {
    width: 0.9em;
    height: 0.9em;
    margin-right: 1em; 
}

.user_logo {
    margin-right: 2em;
}

.search_text, .login_text {
    font-size: 0.8em;
    font-weight:700;
    display: flex;
    align-items: center;
}





/*--------------------------------------------------------------------------------------------------- HEADER CSS */


header{
    background-color: #f8b628;
    width: 100%;
    height:75vh; 
    display: flex;
    justify-content: center;
    position: relative;
}

.heading_content {
    width:fit-content;
    position: absolute;
    left:0;
    padding:7% 10%;
    display: flex;
    flex-direction: column;
}

.big_heading {
    font-size: 3em; 
    font-weight:700;
    color: white;

}

.small_heading {
    font-size: 1em;
    color: rgba(80, 79, 79, 1);
    margin-top: 2%;
    margin-bottom:4%;
}

.heading_delivery {
    background-color: white;
    border-radius: 16px;
    padding: 5%;
    width:fit-content;
}

.upper_delivery {
    display: flex;
    margin-bottom: 2%;
}

.delivery_btn, .pickup_btn {
    border: none;
    display: flex;
    align-items: center;
    padding:2%;
    border-radius: 8px;
    font-size:0.8em;
}

.delivery_btn {
    background-color: rgba(241, 114, 40, 0.1);
    color: rgba(241, 114, 40, 1);
    margin-right:1%;
}

.pickup_btn {
    background-color: transparent;
    color: rgba(117, 117, 117, 1);
}

.delivery_img img, .pickup_img img {
    height:1em;
    margin-right: 1em;
}                                             

.lower { 
    display: flex; 
    background-color: white;
}


.heading_delivery .field { 
    display: flex; 
    align-items: center; 
}

.enter_address {
    display: flex;
    align-items: center;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 8px;
    height:100%;
    width: 25em; 
}

.enter_img {
    width: 1em;
    margin-right:0.8em;;
    margin-left:0.8em;
}

.typing {
    border: none;
    background: rgba(245, 245, 245, 1);
    width: 100%;
    font-size: 0.8em;
}

.find {
    width:8em;
    border: none;
    background: linear-gradient(95.71deg, #FF7A7A -39.64%, #F75900 135.31%);
    color: white;
    border-radius:8px;
    height:3em;
    padding: 2%;
    padding-left:6%;
    margin-left: 2em;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 0.8em;
}

.search_icon {
    width: 0.9em;
    margin-right:0.5em;
    margin-left:0.3em;
}

.heading_image {
    position:absolute; 
    bottom:0%;  
    right:1%;
    width:40vw;      
}


/* --------------------------------------------------------------------------------------------------- DEALS CSS */




.deals-container {
    padding:8% 5%;
    display: flex;
    gap: 2%;
}


.deal-card {
    width: 50em;
}



.deal-image{
    position: relative;
    width: 100%;
    height: 15em;
    margin-bottom: 3%;
}


.deal-image img{
    width:100%;
    height:100%;
    border-radius:16px;
}

.discount-tag{
    position: absolute;
    bottom:0;
    left:0;
    background-color: rgba(255, 179, 14, 1);
    color:white;
    display: flex;
    align-items: center;
    padding:3% 5%;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 16px;
}

.number {
    font-size: 3em;
    font-weight: 700;
}


.percent{
    display: flex;
    flex-direction: column;
}



.per{
        font-weight: 700;
    font-size: 2em;
}


.off{
        font-weight: 400;
    font-size: 1em;
}


.deal-info h4{
    font-size: 1.3em;
    color: rgba(66, 66, 66, 1);

    font-weight: 700;
}

.days-left{
    color:rgba(241, 114, 40, 1);
    background: rgba(241, 114, 40, 0.2);
    padding: 3% 5%;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.2em;
}


.discount-tag span{
    color:white;
}




/* --------------------------------------------------------------------------------------------------- WORKING CSS */


.working {
    padding:1%;
    text-align:center;
    background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) 0%, rgba(253, 237, 202, 0) 100%);
}

.working_title h2{
    color: rgba(241, 114, 40, 1);
    font-size: 2.5em;
    font-weight: 700;
}

.working_features{
    display: flex;
    justify-content: space-between;
    gap: 3%;
    padding:2%;
}

.feature-card{
    width:30vw;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.feature-card img{
    height: 8em;
    margin-bottom: 6%;
}

.feature-card h3{
    font-size: 1.5em;
    color: rgba(67, 67, 67, 1);
    margin-bottom:5%;
    font-weight: 700;
}

.feature-card p{
    font-size: 1em;
    font-weight:400;
    color: rgba(158, 158, 158, 1);
    margin-bottom:10em;
}








/* --------------------------------------------------------------------------------------------------- RESTAURANTS CSS */



.featured-restaurants{
    margin:6em;
}

.fr-heading{
    font-weight: 700;
    font-size: 2.5em;
    text-align: center;
    color: rgba(33, 33, 33, 1);
    margin-bottom:6%;
}


.upper-res, .lower-res{
    display: flex;
    justify-content: space-between;
    gap: 1.5%;
    margin-bottom:6%;
}

.restaurant-card{
    border-radius: 16px;
}

.image-container{
    position: relative;
  
}

.image-container .img{
    width: 100%;
    height: 100%;
   
    border-radius: 16px;
}


.badge-container{
    position:absolute;
    top:6%;
    left:6%;
    display:flex;
    gap:0.5em;
}


.badge-discount{ 
    display:flex;
    align-items:center;
    background-color:rgba(241, 114, 40, 1);
    border-radius:8px;
    padding:0.3em 0.7em;
    color: white;
    font-weight: 700;
    font-size: 0.8em;
    border: none;


}

.badge-fast { 
    display:flex;
    align-items: center;
    background-color: rgba(255, 179, 14, 1);
    border-radius:8px;
    padding:0.3em 0.7em;
    color: white;
    font-weight: 700;
    font-size: 0.8em;
    border: none;


}


.badge-icon {
    width: 1em; 
    margin-right: 0.5em; 
}


.details{
    margin-top:8%;
}


.details .info{
    display:flex;
    align-items:center;
    gap:8%;
    margin-bottom:10%;
}

.featured-restaurants .logo{
    width:3em;
    height:3em;
    border-radius:8px;
}


.featured-restaurants span{
    color:rgba(255, 179, 14, 1);
}

.name{
    display: block;
    font-weight: 700;
    font-size: 1.2em;
    color:rgba(66, 66, 66, 1);
}

.rating{
    font-size:1em;
    padding:5% 2%;
    display:flex;
    align-items:center;
    gap:10%;
}


.status-closed {
    background-color:rgba(241, 114, 40, 0.2);
    color:rgba(241, 114, 40, 1);
     border: none;
    padding: 3% 6%;
    border-radius: 16px;
    font-weight: 700;
    font-size: 0.9em;
}

.status-open {
    background-color:rgba(121, 185, 60, 0.2);
    color:rgba(121, 185, 60, 1);
     border: none;
    padding: 3% 6%;
    border-radius: 16px;
    font-weight: 700;
    font-size:0.9em;
}

.btn-center{
     display: flex;
    justify-content: center;
    margin-top:7%;
}

.featured-restaurants .btn{
   
   background: linear-gradient(97.86deg, #FFBA26 -8.95%, #FF9A0E 109.24%);
    color: white;
    border: none;
    padding:1.5% 5%;
    border-radius: 8px;
    font-weight: 700;
    font-size: 1em;
   box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29);



}






/* --------------------------------------------------------------------------------------------------- SEARCH CSS */




.search_by_foods{
    padding:2% 8%;
    background-color: rgba(254, 250, 241, 1);
}

.search_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4%;
    
}


.search_heading h2{
    font-size: 2.5em;
    font-weight: 700;
    color: rgba(33, 33, 33, 1);
}

.view_button button {
    background: none;
    border: none;
    color:rgba(255, 179, 14, 1);
   font-weight: 700;
    font-size: 1.2em;
}


.food_items ul{
    display: flex;
    justify-content:space-between;
    list-style: none;
    padding: 0;
}

.food_items ul li{
    display: flex;
    flex-direction:column;
    align-items: center;
    font-weight: 700;
    font-size: 1.2em;
    color:rgba(66, 66, 66, 1);
    margin-right:5%;
}


.food_items ul li img{
    width:60%;
    height: 150px;
    border-radius: 144px;
    margin-bottom: 26px;
    
}





/* --------------------------------------------------------------------------------------------------- DETAILS CSS */




article {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 80px; 
    /* margin:100px; */

}

.sandwich, .chicken, .pizza {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 16px;
    height:400px;
    box-shadow: 0px 27px 82px 0px rgba(124, 124, 124, 0.28);
}


.chicken {
    flex-direction: row-reverse;
}


.sandwich_text, .chicken_text, .pizza_text {
    padding: 80px 60px 80px 60px;
}

.top_text h1{
    font-size: 43px;
    font-weight: 700;
}
.black{
     color: rgba(53, 53, 53, 1);
}
.yellow{
     color: rgba(255, 179, 14, 1);
}



.bottom_text h3{
    font-size: 18px;
    font-weight: 400;
    color: rgba(97, 97, 97, 0.69);

}

article button{
    background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
    color: white;
    border: none;
    padding: 21px 80px;
    border-radius: 8px;
    font-weight: 900;
    font-size: 15px;
    margin-bottom:50px;
    margin-top:40px;
    width:400px;
}


.sandwich_image, .chicken_image, .pizza_image{
    display: flex;
}

.sandwich_image img,.pizza_image img{
    width: 600px;
    height: 400px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}


.chicken_image img{
    width: 600px;
    height: 400px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
 }





/* --------------------------------------------------------------------------------------------------- CTA CSS */


.cta{
    display: flex;
    position:relative;
    text-align:center;
    color:white;
}


.cta img{
    width:100%;
    height:300px;
}

.content{
  position:absolute;
  top:8%;
  left:30%;
  width:50%;
}

.content h2{
    color: white;
    font-size: 48px;
    font-weight: 900;
}

.content .btn{
    background:linear-gradient(93.41deg, #F17228 -5.63%, #F15E28 100.8%);
    color:white;
    border:none;
    padding:21px 25px;
    border-radius:8px;
    font-weight:700;
    font-size:15px;
    height:60px;
    text-transform:uppercase;
}







/* --------------------------------------------------------------------------------------------------- FOOTER CSS */


footer{
    height:300px;
    background-color:rgba(33, 33, 33, 1);
    color:rgba(255, 255, 255, 1);
    padding:40px 0 40px 0;
}

.footer-container{
    margin:20px 100px;
}

.link_newsletter{
    display:flex;
    justify-content:space-between;
    padding:20px 0;
    border-top:2px solid #424242; 
}

.links{
    display:flex;
    gap:100px;
}


.columns h4{
    color:rgba(255, 255, 255, 1);
    font-size:18px;
    font-weight:700;
    margin-bottom:10px;
}

.columns ul{
    list-style:none;
    padding-left:0;
    padding-right:0;
}

.columns ul li{
    margin-bottom:10px;
}

.columns ul li a{
    text-decoration:none;
    font-size:16px;
    font-weight:400px;
    color:rgba(245, 245, 245, 1);
}



.newsletter{
    margin-left:100px;
    align-items: center;
}
    

.social h4{
    font-size:16px;
    font-weight:700px;
    color:rgba(245, 245, 245, 1);
    margin-bottom:30px;
}

.social_media{
    display:flex;
    gap:16px;
    margin-bottom:30px;
}

.social_media img{
    width:24px;

}

.mail h4{
    font-size:16px;
    font-weight:700px;
    color:rgba(187, 187, 187, 1);
    margin-bottom:30px;
}


.subscribe{
    display:flex;
    gap:16px; 
}

.subscribe .field{
    background:rgba(66, 66, 66, 1);
    border-radius:8px;
    display:flex;
    align-items:center;
    height:30px;
    padding:7px 0px 8px 16px;
}

.envelope_img{
    width:24px;
    margin-right:10px;
}



.email_text input{
    background:rgba(66, 66, 66, 1);
    border:none;
    color:white;
    width:250px;
    font-size:18px;
}


.btn{
    background:linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    font-weight:700;
}



.bottom{
    display:flex;
    justify-content:space-between; 
    align-items:center;
    padding-top:20px;
    font-size:13px;
    color:rgba(245, 245, 245, 1);
    border-top: 2px solid #424242; 
}

.last{
    display:flex;
    gap:5px; 
}

.lighter{
    font-weight:400; 
}

.heavier{
    font-weight:700; 
}


@media print{
    nav{
        background-color: black;
        height: 500px;
    }
}


@media(max-width:768px){

  .food_items ul{

    display:block;
    background-color: yellowgreen;
  }

}



