.heading{
    background-color: rgba(255, 186, 38, 1);
    display: flex;
}


.heading_content{
  
    padding:132px 22px 132.56px 220px;
}



.heading_text{
    width:671px;
    height:129px;
    
    padding-bottom:32px;
  
}

.big_heading{

    font-size:88px;
    width:671px;
    height:88px;

    color:white;
}

.small_heading{
    width:532px;
    height:26px;
    font-size:22px;
    padding-top:15px;

}



.heading_delivery{
    border-radius:16px;
    background-color: white;

}



.heading_image{
    width:604px;
    height:505px;
    padding:178.79px 218px 16px 22px;
}


.upper_delivery{
    display: flex;
}


.delivery_btn{
    border:none;
    align-items: center;
    height:38px;
    background-color:rgba(241, 114, 40, 0.1);
    border-radius:8px;
    margin-top:24px;
    margin-left:24px;
    padding:24px 8px 24px 24px;
    display: flex;
    margin-right:8px;
}

.pickup_btn{
    height:38px;
    align-items: center;
    border:none;
    color:rgba(117, 117, 117, 1);
    background-color: white;
    margin-top:24px;
    padding:24px 8px 24px 8px;
    display:flex;
}


.delivery_text{
    margin-left:10px;
    margin-right:10px;

}


.delivery_img{
    width:23px;
    height:18px;
 
}
.pickup_text{
    margin-left:10px;
  

}

.pickup_img{
   width:16px;
   height:18px;
}

.lower{
    display:flex;
}

.field{
    display:flex;
    padding:24px;
}

.enter_address{
    display:flex;
    
}


.enter_img{
    width:18px;
    height:34px;
    padding-right:16px;
    padding-left:16px;
}

.field{
    border:none;
    
}


.enter_address{
    width:593px;
    height:49px;
    border-radius:8px;
    background-color: rgba(245, 245, 245, 1);
    border:none;
    align-items: center;

}


.find{
    border:none;
    background-color:rgba(246, 89, 0, 1);
    border-radius: 8px;
    width:199px;
    height:60px;
    font-size:18px;
    color:white;
    align-items: center;
    justify-content: center;
    display:flex;
    margin-left:16px;
}

.search_icon{
    padding-right:10px;
}

.typing{
    border:none;
        background-color: rgba(245, 245, 245, 1);
}


